$dark-navy: #1a2a33;
$semi-dark-navy: #1f3641;
$text-light: #dbe8ed;
$select-bar-color: #dbe8ed;
$yellow-button-light: #ffc860;
$yellow-button-dark: #f2b137;
$green-button-light: #65e9e4;
$light-blue: #31c3bd;
$silver: #a8bfc9;
$light-yellow: #f2b137;

// text property
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  background: $dark-navy !important;
  font-family: "Outfit", sans-serif;
  overflow: hidden;
}
